/*尺寸*/
$headerH: 40px; /*头高度*/
$headerMinW: 1200px; /*头最小宽度*/
$sideBarMinW: 133px; /*边栏最小宽度*/
$sideBarMaxW: 200px; /*边栏最大宽度*/
$mainMinW: 700px; /*主题栏最小宽度*/
$mainW: 1000px;

/*字体*/
$fBaseSize: 16px;
$fBaseColor: #123;
$fBaseFaimly: "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;